body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
header { 
    font-size: 100px;
    color: black;
    text-align: center;
}
h1 {
    font-size: 40px;
    color: blue;
    text-align: center;
}
h2 {
    font-size: 20px;
    color: blue;
    text-align: center;
    clear: both;
}
h3 {
    font-size: large;
    color: blue;
    text-align: left;
    clear: both;
}
p {
    font-size: 20px;
    color: black;
    text-align: left;
}
div {
    height: 200px;
    width: 1000px;
    padding: 10px;
    border: 4px dotted blue;
    margin: auto;
    clear: both;
}
section {
    height: 100px;
    margin: 0 1% 24px 1%;
    width: 40%;
    border: 1px solid black; 
    text-align: center;
}
.sectionleft {
    float: left;
}
.sectionright {
    float: right;
}
